/* General Page Styles */
.home-page {
    width: 98.7vw;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-color: black;
}

/* Background Image Section */
.background-image {
    background-image: url('https://media.istockphoto.com/id/2101122136/photo/woman-hand-holding-tv-remote.webp?a=1&b=1&s=612x612&w=0&k=20&c=vAkZOl4nt2KBLEdb60ZZPE8YbPji0P8XKNljlAeykYo=');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to darken */
    z-index: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2; 
}

.heading {
    font-size: 3rem;
    font-weight: bold;
}

.description {
    font-size: 1.5rem;
}

/* Upcoming Movies Section */
.upcoming-movies-section {
    margin-top: 50px;
    /* text-align: center; */
}

.upcoming-header {
    margin-left: 40px;
}

.movies-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movies-container {
    display: flex;
    gap: 15px;
    overflow: hidden;
    width: calc(150px * 5 + 60px); /* Adjust based on number of visible movies */
}

.movie-card {
    width: 150px;
    text-align: center;
}

.movie-poster {
    width: 100%;
    border-radius: 8px;
}

.movie-title {
    font-size: 0.9rem;
    color: white;
    margin-top: 5px;
}

.navigate-btn {
    background-color: #333;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    margin: 0 10px;
}

.reasons-section {
    text-align: center;
    background-color: #000; 
    color: white;
    padding: 2rem 1rem;
}

.reasons-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.card {
    background: linear-gradient(to bottom, #1a1a1a, #2a2a2a);
    border-radius: 10px;
    padding: 1.5rem;
    text-align: left;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #ccc;
}

.card img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}


.FAQ {
    margin-left: 40px;
}
