/* Movie Dialog Styles */
.movie-data-dialog {
  position: relative;
  /* margin: 10px auto; */
  max-width: 300px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-data-dialog:hover {
  transform: scale(1.0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.movie-poster-dialog {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-details-dialog {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  box-sizing: border-box;
}

.movie-data-dialog:hover .movie-details-dialog {
  opacity: 1;
}

/* .movie-title-dialog {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
} */

.movie-release-date-dialog,
.movie-overview-dialog {
  font-size: 0.9rem;
  /* margin-top: 5px; */
  text-align: center;
}


.movie-dialog-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.movie-dialog-buttons button {
  padding: 6px 12px;
  /* margin-top: 10px; */
  font-size: 14px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movie-dialog-buttons button:hover {
  background-color: #555;
}